:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-orange: #F57513;
    --orangered: rgb(255, 69, 0);
    --background-hr: rgb(235, 182, 83);
    --text-linen: #faf0e6;
}

.nav-container {
    height: 80px;
    width: 100vw;
    background-color: none;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

.nav-main {
    position: fixed;
}

.nav-list {
    display: flex;
    /* margin-right: 2rem; */
    border: none;
    /* align-items: center;
    justify-content: space-between; */
}

@media (max-width: 28.75em) {
    nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

@media (max-width: 25em) {
    nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}


.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color: var(--orangered);
    border: none;
}

.nav-list a:hover {
    transform: translateY(8px);
    font-weight: 800;
    transition: transform 0.3s ease-out;
}